---

---

<section class="py-6 sm:py-6">


  <div class="relative grid gap-28 px-4">
    <div class="bg-gray-900 flex flex-col items-center gap-11 px-14 text-white md:flex-row">



      <div class="flex flex-col gap-8 self-center sm:gap-10">
        <div class="flex max-w-4xl flex-col gap-4 sm:gap-6">
          <h1
            class="text-3xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70"
          >
           The Inspiration
          </h1>
          <p class="w-full text-justify text-primary-950/70 dark:text-primary-200/70">
            Then I thought, if Mercedes' website can be this cool, I wonder how Tesla's Cybertruck
            site stacks up. So, I started searching. The moment I checked it out, I was impressed by
            how it felt, with the lines that really matched the whole Cybertruck vibe. That got me
            thinking, Why can't my project have that same impact?
          </p>
        </div>
      </div>
      <div class="relative w-full">

        <div class="relative w-full overflow-visible">
          <img class="w-max object-contain" src="/assets/one.png" alt="Headphone image" />
        </div>
      </div>
    </div>

    <div class="bg-gray-900 flex flex-col items-center gap-11 px-14 text-white md:flex-row">
      <!-- Left Column: Images -->
      <div class="relative w-full">
        <!-- Headphone Container -->
        <div class="relative w-full overflow-visible">
          <img class="w-max object-contain" src="/assets/button.png" alt="Headphone image" />


        </div>
      </div>

      <!-- Right Column: Text -->
      <div class="flex flex-col gap-8 self-center sm:gap-10">
        <div class="flex max-w-4xl flex-col gap-4 sm:gap-6">
          <h1
            class="text-3xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70"
          >
           The Inspiration
          </h1>
          <p class="w-full text-justify text-primary-950/70 dark:text-primary-200/70">
            I also checked out Apple's website, which wasn't quite the direction I was going for in
            terms of art, but I still ended up finding some amazing pictures and a video.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
