---

---

<section class="py-6 sm:py-6">
  <!-- <div class="flex flex-col gap-12 px-14">

    <div class="relative w-full overflow-visible">
      <img
        class="w-[60%] self-start object-cover"
        src="/assets/headphone.png"
        alt="Headphone image"
      />
      <svg
        class="dark:text-black pointer-events-none absolute inset-0 text-white"
        viewBox="0 0 100 100"
        fill="none"
        stroke="currentColor"
        stroke-width="1"
      >
        <path d="M0,0 L50,0 M0,0 L0,50"></path>
      </svg>

    </div>
    <div class="flex max-w-xl flex-col gap-4 self-start sm:gap-6">
      <h1
        class="sm:text2-xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 md:text-3xl"
      >
        As Powerful
      </h1>
      <p class="w-[80%] text-justify text-sm text-primary-950/70 dark:text-primary-200/70">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
  </div>
  <div class="relative self-end flex flex-col gap-24 px-14">
    <div class="flex justify-end">
      <div class="relative w-full overflow-visible">
        <img class="w-[60%] object-contain" src="/assets/headphone.png" alt="Headphone image" />
        <svg
          class="dark:text-black pointer-events-none absolute inset-0 text-white"
          viewBox="0 0 100 100"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
        >
          <path d="M0,0 L50,0 M0,0 L0,50"></path>
        </svg>
      </div>
    </div>
    

    <div class="flex max-w-xl flex-col gap-4 self-end text-right sm:gap-6">
      <h1
        class="sm:text2-xl text-right font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 md:text-3xl"
      >
        As Powerful
      </h1>
      <p class="w-[80%] self-end text-justify text-xs text-primary-950/70 dark:text-primary-200/70">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
  </div> -->
  <!-- <div class="flex flex-col md:flex-row px-14 items-center gap-6 relative md:gap-14">
<img src="/assets/button.png" class="w-full md:w-[45%] h-auto"
/>
<img src="/assets/one.png" class="w-full md:w-[45%] self-end relative top-0 md:top-72 h-auto"
/>
</div> -->

  <div class="relative grid gap-28 px-4">
    <div class="bg-gray-900 flex flex-col items-center gap-11 px-14 text-white md:flex-row">
      <!-- Left Column: Images -->

      <!-- Right Column: Text -->
      <div class="flex flex-col gap-8 self-center sm:gap-10">
        <div class="flex max-w-4xl flex-col gap-4 sm:gap-6">
          <h1
            class="text-3xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70"
          >
           The Inspiration
          </h1>
          <p class="w-full text-justify text-primary-950/70 dark:text-primary-200/70">
            Then I thought, if Mercedes' website can be this cool, I wonder how Tesla's Cybertruck
            site stacks up. So, I started searching. The moment I checked it out, I was impressed by
            how it felt, with the lines that really matched the whole Cybertruck vibe. That got me
            thinking, Why can't my project have that same impact?
          </p>
        </div>
      </div>
      <div class="relative w-full">
        <!-- Headphone Container -->
        <div class="relative w-full overflow-visible">
          <img class="w-max object-contain" src="/assets/one.png" alt="Headphone image" />
        </div>
      </div>
    </div>

    <div class="bg-gray-900 flex flex-col items-center gap-11 px-14 text-white md:flex-row">
      <!-- Left Column: Images -->
      <div class="relative w-full">
        <!-- Headphone Container -->
        <div class="relative w-full overflow-visible">
          <img class="w-max object-contain" src="/assets/button.png" alt="Headphone image" />

          <!-- Outline Overlay (only left & bottom) -->
        </div>
      </div>

      <!-- Right Column: Text -->
      <div class="flex flex-col gap-8 self-center sm:gap-10">
        <div class="flex max-w-4xl flex-col gap-4 sm:gap-6">
          <h1
            class="text-3xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70"
          >
           The Inspiration
          </h1>
          <p class="w-full text-justify text-primary-950/70 dark:text-primary-200/70">
            I also checked out Apple's website, which wasn't quite the direction I was going for in
            terms of art, but I still ended up finding some amazing pictures and a video.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
