---

---

<section class="px-8 md:px-14 py-16 sm:py-20">
  <div>
    <div class="flex w-full flex-col py-5 md:flex-row">
      <img class="w-full md:w-[40%]" src="/assets/speaker.png" />
      <div class="flex flex-col md:flex-col">
        <img class="hidden h-[60%] w-full sm:block" src="/assets/hand.png" />

        <p class="relative top-10 w-full self-end text-justify text-base text-primary-950/70 dark:text-primary-200/70 md:w-[78%] md:text-lg">
          Then this website came through, and everything just fell into place. It brought all the ideas I had into something real, blending design, functionality, and a great user experience. 
          <br/> 
          <a href="mailto:ayotomiwawaledurojaye@gmail.com" class=" underline">ayotomiwawaledurojaye@gmail.com</a>
        </p>
        
      </div>
    </div>

    <!-- <div class="wfull relative -top-64 flex flex-row gap-20 px-24">
      <img
        class="relative left-20 h-[40%] w-[40%] md:h`-[40%] md:w-[40%]"
        src="/assets/wphone.png"
      />
      <div></div>
      <div class="relative left-20 flex max-w-md flex-col gap-4 self-center">
        <h1
          class="text-2xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 md:text-3xl"
        >
          As Powerful
        </h1>
        <p
          class="w-full text-justify text-base text-primary-950/70 dark:text-primary-200/70 md:text-sm"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
          simply dummy text of the printing andem Ipsum is simply dummy text of the printing and
          typesetting industry.Lorem Ipsu....
        </p>
      </div>
    </div> -->
  </div>
</section>
