<section
  class="scrollbar-hide relative  flex snap-x items-center justify-start gap-14 overflow-y-hidden overflow-x-scroll overflow-x-hidden px-28 py-14 md:w-screen"
>
  <!-- <div class="bg-black relative flex flex-[0_0_50rem] snap-center flex-col">
    <div class="grid grid-cols-2 grid-rows-2 gap-5 px-8">
      <img class="col-start-1 row-start-1 w-[50%] md:w-full" src="/assets/1-1.png" />
      <img class="col-start-1 row-start-2 w-[50%] md:w-full" src="/assets/1-2.png" />
      <img class="col-start-2 row-start-1 w-[50%] md:w-full" src="/assets/1-3.png" />
      <div class="flex max-w-xl flex-col justify-start gap-4 self-start sm:gap-6">
        <h1
          class="text-2xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 md:text-3xl"
        >
          As Powerful
        </h1>
        <p
          class="w-full text-justify text-base text-primary-950/70 dark:text-primary-200/70 md:text-sm"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
          simply dummy text of the printing and
        </p>
      </div>
    </div>
  </div>
  <div class="bg-black relative flex flex-[0_0_50rem] snap-center flex-col">
    <div class="grid grid-cols-2 grid-rows-2 gap-5 px-8">
      <img class="col-start-1 row-start-1 w-[full]" src="/assets/2-1.png" />
      <img class="col-start-1 row-start-2 w-[full]" src="/assets/2-2.png" />
      <img class="col-start-2 row-start-1 w-[full]" src="/assets/2-3.png" />
      <div class="flex max-w-xl flex-col justify-start gap-4 self-start sm:gap-6">
        <h1
          class="text-2xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 md:text-3xl"
        >
          As Powerful
        </h1>
        <p
          class="w-full text-justify text-base text-primary-950/70 dark:text-primary-200/70 md:text-sm"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy
          text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the
          printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.Lorem Ipsu....
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <img class="" src="/assets/image.png" />
    <img class="" src="/assets/image.png" />
  </div>

  <div class="bg-black relative flex flex-[0_0_50rem] snap-center flex-col">
    <div class="grid grid-cols-2 grid-rows-2 gap-5 px-8">
      <img class="col-start-1 row-start-1 w-[full]" src="/assets/3-1.png" />
      <img class="col-start-1 row-start-2 w-[full]" src="/assets/3-2.png" />
      <img class="col-start-2 row-start-1 w-[full]" src="/assets/3-3.png" />
      <div class="flex max-w-xl flex-col justify-start gap-4 self-start sm:gap-6">
        <h1
          class="text-2xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 md:text-3xl"
        >
          As Powerful
        </h1>
        <p
          class="w-full text-justify text-base text-primary-950/70 dark:text-primary-200/70 md:text-sm"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy
          text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the
          printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.Lorem Ipsu....
        </p>
      </div>
    </div>
  </div> -->

  <div
    class="relative flex flex-[0_0_25rem] snap-center flex-row gap-4 md:flex-[0_0_35rem] lg:flex-[0_0_50rem]"
  >
    <div class="flex flex-col gap-4">
      <img class="w-full" src="/assets/1-1.png" />
      <img class="w-full" src="/assets/1-2.png" />
    </div>
    <div class="flex flex-col gap-4">
      <img class="w-full" src="/assets/1-3.png" />
      <div class="flex max-w-xl flex-col justify-start gap-4 self-center sm:gap-6">
        <h1
          class="text-2xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 md:text-3xl"
        >
          Observe
        </h1>
        <p
          class="w-full text-justify text-xs lg:text-lg text-primary-950/70 dark:text-primary-200/70 md:text-sm"
        >
          After I browsed through Mercedes' and Tesla Cybertrucks', I paid close attention to how
          they organized their content and visuals. I looked for what grabbed my attention, what
          kept me engaged, and what made the experience smooth.
        </p>
      </div>
    </div>
  </div>
  <div
    class="relative flex flex-[0_0_25rem] snap-center flex-row gap-4 md:flex-[0_0_35rem] lg:flex-[0_0_50rem]"
  >
    <div class="flex flex-col gap-4">
      <img class="w-full" src="/assets/2-1.png" />
      <img class="w-full" src="/assets/2-2.png" />
    </div>
    <div class="flex flex-col gap-4">
      <img class="w-full" src="/assets/2-3.png" />
      <div class="flex max-w-xl flex-col justify-start gap-4 self-center sm:gap-6">
        <h1
          class="text-2xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 md:text-3xl"
        >
          Define
        </h1>
        <p
          class="w-full text-justify text-xs text-primary-950/70 lg:text-lg dark:text-primary-200/70 md:text-sm"
        >
          I wanted smooth navigation, engaging visuals, and clear content that makes the site easy
          to scrolln through. The goal was to create a seamless experience where everything—images,
          text, and videos—fits together, keeping users engaged without overwhelming them.
        </p>
      </div>
    </div>
  </div>
  <div
    class="relative flex flex-[0_0_25rem] snap-center flex-row gap-4 md:flex-[0_0_35rem] lg:flex-[0_0_50rem]"
  >
    <div class="flex flex-col gap-4">
      <img class="w-full" src="/assets/3-1.png" />
      <img class="w-full" src="/assets/3-2.png" />
    </div>
    <div class="flex flex-col gap-4">
      <img class="w-full" src="/assets/3-3.png" />
      <div class="flex max-w-xl flex-col justify-start gap-4 self-center sm:gap-6">
        <h1
          class="text-2xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 md:text-3xl"
        >
          Sketch
        </h1>
        <p
          class="w-full text-justify text-xs text-primary-950/70 dark:text-primary-200/70 md:text-sm lg:text-lg"
        >
          I didn’t exactly ‘sketch’ the design in the traditional sense, but I started to map out my
          ideas through rough layouts. I focused more on how the elements would fit
          together. On how to arrange images, text, and other content to flow naturally and create an
          engaging user experience.
        </p>
      </div>
    </div>
  </div>
</section>
