<section class="py-9 sm:py-20">
  <div class="bg-gray-900 flex flex-col items-center gap-11 px-8 md:px-14 text-white md:flex-row">
    <!-- Left Column: Images -->
    <div class="relative w-full">
      <!-- Headphone Container -->
      <div class="relative w-full overflow-visible">
        <svg
          class="dark:text-black pointer-events-none absolute inset-0 text-white"
          viewBox="0 0 100 100"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
        >
          <path d="M0,0 L50,0 M0,0 L0,50"></path>
        </svg>

        <img class="w-max object-contain" src="/assets/headphone.png" alt="Headphone image" />

        <!-- Outline Overlay (only left & bottom) -->
      </div>
    </div>

    <!-- Right Column: Text -->
    <div class="flex flex-col gap-8 self-center sm:gap-10">
      <div class="flex max-w-4xl flex-col gap-4 sm:gap-6">
        <h1
          class="font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 text-3xl"
        >
          My Design Process
        </h1>
        <p class="w-full text-justify text-primary-950/70 dark:text-primary-200/70">
          For this project, I’m breaking down my design process from scratch. This website is a side
          project, inspired by my time checking out the AMG section on Mercedes' site. I got hooked
          on the images of the cars and the engine sounds, but what really caught my attention was how easy it
          was to browse the content and see the visuals.
        </p>

      </div>
    </div>
  </div>
</section>
